@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "WorkSans";
  src: url("/font/WorkSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "WorkSans";
  src: url("/font/WorkSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "WorkSans";
  src: url("/font/WorkSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("/font/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Montserrat";
  src: url("/font/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Montserrat";
  src: url("/font/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
}

main {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;

  overscroll-behavior: none;
}

#animeCanvas {
  pointer-events: auto !important;
}
#animeCanvas {
  z-index: 1;
}
